* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: #161616;
}
::-webkit-scrollbar {
    background-color: white;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 4px honeydew;
    z-index: 1;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: #3DCFD3;
    font-weight: 600;
    font-size: 1.5rem;
}

nav .right a {
    font-size: 1.4rem;
    margin-right: 10px;
    transition: all .5s ease;
}

nav .right a:hover {
    color: white;
}

nav .fa-solid {
    display: none;
    font-size: 26px;
    color: #3DCFD3;
}

.mobile {
    align-items: center;
    background-color: #161616;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: -105%;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 2;
}

.mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 25px;
}

.mobile span {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile span i {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #3DCFD3;
}

.mobile a {
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
    color: #3DCFD3;
    font-weight: normal;
}

/* ........................ Home Section ............................. */

.home_flex {
    display: flex;
    justify-content: center;
}

.home {
    width: 90%;
    max-width: 800px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.home .name h1 {
    color: #3DCFD3;
    line-height: 1.4;
    font-size: 2.6em;
}

.home .name p {
    color: white;
    font-size: 1.7em;
    
}

.home .hone-description {
    width: 48%;
    font-size: 1em;
    line-height: 1.4;
    color: white;
}
.hone-description p {
    font-family: sans-serif;
}

.icon_a {
    text-decoration: none;
    font-size: 36px;
    /* color: white; */
    color: #3DCFD3;
    padding: .5em;
}

.image {
    background-image: url(./img/image1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/* ..................... About section ....................... */
#about {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture  {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-image: url("./img/image2.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid white;
}

.aboutsection {
    width: 50%;
    text-align: center;
    padding-left: 2.5rem;
}
.aboutsection h1 {
    color: #3DCFD3;
    margin-bottom: 20px;
}

.aboutsection h2 {
    color: white;
    margin-bottom: 20px;
}
.aboutsection p {
    color: white;
    font-family: sans-serif;
    font-size: 1.3em;
    line-height: 1.7;
}

/* ..................... Project section ....................... */
#heading-project{
    color: #3DCFD3;
    text-align: center;    
    font-size: 2.6em;
    margin: 20px;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.flip-card {
    width: 23%;
    margin: 12px;
    height: 350px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover  .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-position: center;
  background-size: cover;
}
#flip-card-front1{
    background-image: url("./img/digital\ clock.PNG");
}
#flip-card-front2{
    background-image: url("./img/dice\ roll.PNG");
}
#flip-card-front3{
    background-image: url("./img/to\ do\ list.PNG");
}
#flip-card-front4{
    background-image: url("./img/text\ editor.PNG");
    background-position-x: -112px;
}
#flip-card-front5{
    background-image: url("./img/stopwatch.PNG");
}
#flip-card-front6{
    background-image: url("./img/chessboard.PNG");
}
#flip-card-front7{
    background-image: url("./img/calculator.PNG");
}
#flip-card-front8{
    background-image: url("./img/markssheet.PNG");
}
#flip-card-front9{
    background-image: url("./img/facebook\ style\ login\ page.PNG");
}

.flip-card-front h1 {
    position: relative;
    top: 277px;
    background:black;
    opacity: 0.5;
    color: #3DCFD3;
}

.flip-card-back {
  background-color: #070707;
  color: white;
  transform: rotateY(180deg);
  padding: 15px;
}
.flip-card-back h1{
    color: #3DCFD3;
    margin-top: 40px;
}
.flip-card-back p{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.button {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #3DCFD3;
    padding: 12px 25px;
    border-radius: 20px;
}
.button:hover,
.button:active {
    background-color: white;
    color: #3DCFD3;
}
/*.......................... Contact Secton ..........................  */
#Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 40px;
    font-size: 1.3em;
}
#Contact-left{
    width: 42%;

}
#Contact #Contact-left h1{
    color: #3DCFD3;   
    font-size: 2.6em;
}
#Contact #Contact-left p{
    line-height: 2;
    color: white;
}
#Contact #Contact-left span{
    color: #3DCFD3;
}
#contact-para1{
font-family: 'Times New Roman', Times, serif;
font-size: 1.2em;
}
#Contact-right{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    
}
#Contact #Contact-right input{
        padding: 10px;
        width: 350px;       
    margin-bottom: 25px;
}
#Contact #Contact-right label{
    color: #3DCFD3;
}

button{
    border-radius: 30px;
    margin-top: 25px;
    padding: 10px;
    width: 150px;
}
button:hover{
    background-color:#3DCFD3 ;
}

/* .......................... Footer ....................... */
footer {
    margin-top: 5em;
    border-top: 1px solid #ffffff8e;
    padding: 30px;
    color: white;
    text-align: center;
}

/* .............................................................................. */

@media only screen and (max-width: 768px) {
    /* About section  */
    .main {
        flex-direction: column;
        width: 80%;
    }

    .aboutsection {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .picture  {
        width: 300px;
        height: 300px;
    }
    
    .picture {
        margin-bottom: 50px;
    }
    /* Project Section */
    .flip-card {
        width: 45%;
    }
    /* contact section */
#Contact{
    flex-direction: column;
 }
 #Contact-left{
     width: 100%;
     text-align: center;
 
 }
  }
/* .............................................................................. */

@media screen and (max-width: 600px) {
    nav .fa-solid {
        display: flex;
    }
.right{
    display: none;
}
.icon_a {
    padding: 0.4em;
}
/* Project Section  */
.flip-card {
    width: 95%;
    height: 380px;
}
.flip-card-front h1 {
    top: 307px;
    
}

/* contact section */
#Contact{
   flex-direction: column;
    margin: 25px;
    padding: 0px;
    font-size: 1.2em;
}
#Contact-left{
    width: 100%;
    text-align: center;

}
#Contact #Contact-left h1{
    margin: 20px;
}
#Contact-right{
    margin-left: 0px;
    
}
#Contact #Contact-right input {
    width: 283px;
}
button {
    width: 125px;
}
/* footer */
footer {
    padding: 15px;
}
    }

